@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-amiri: var(--font-amiri);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu);
}


.pixelify {
    font-family: 'JetBrains Mono', sans-serif;
}
.oswald {
    font-family: 'Oswald', sans-serif;
}

@keyframes bob {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-0.5rem); }
}

@keyframes bob2 {
  0%, 100% { transform: translateY(-0.5rem); }
  50% { transform: translateY(0); }
}


@keyframes bob3 {
  0%, 100% { transform: translateY(-0.3rem); }
  50% { transform: translateY(0.2rem); }
}


.bob {
  animation: bob 2s infinite ease-in-out;
}

.bob2 {
  animation: bob2 2s infinite ease-in-out;
}

.bob3 {
  animation: bob3 2s infinite ease-in-out;
}

::selection {
  background-color: #add8e6; /* Light blue */
  color: black; /* Optional: text color when selected */
}

::-webkit-scrollbar-thumb {
  background-color: #7db9f9; /* Blue */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Optional: scrollbar track color */
}

/* Firefox */
* {
  scrollbar-color: #7db9f9 #f1f1f1; /* thumb and track colors */
}
